[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "lecture_1"
version = "0.1.0"
requires-python = ">=3.8"
dependencies = [
    "colorama>=0.4.6",
]